.content {
    background-color: #F0F2F5;
}
.postsAndSidebar {
    padding: 0 60px 40px 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width:1200px) {
    .postsAndSidebar {
        display: block;
    }
}
