.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagesToBack,
.pagesToForward,
.firstPage,
.lastPage {
    color: white;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    letter-spacing: .1em;
    transition: all 0.3s ease;
}

.pagesToBack:hover,
.pagesToForward:hover,
.firstPage:hover,
.lastPage:hover {
    background-color: #ffbf47;
    border: 1px solid #ffbf47;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.pagesToBack,
.firstPage {
    margin-left: 10px;
}

.pagesToForward,
.lastPage {
    margin-right: 10px;
}


.paginator span {
    display: block;
    min-width: 20px;
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 0 .1em;
    border-radius: 15px;
    border: 1px solid tomato;
    transition: all 0.5s ease;
}

.paginator span:hover {
    border: 1px solid #ffbf47;
    transition: all 0.5s ease;
}

.selectedPage {
    border: 1px solid transparent;
    font-size: 1em;
    cursor: pointer;
    background-color: #ffbf47;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

.paginator .threeDots:hover {
    cursor: default;
    border: none;
    box-shadow: none;
}

.paginator .threeDots {
    cursor: default;
    border: none;
}