.myPosts {
    width: calc(100vw - 810px);
    margin: 20px;
}

.myPosts p {
    font-weight: bold;
    color:#111827;
    font-size: 20px;
}

@media (max-width:1200px) {
    .myPosts {
        width: 100%;
    }
}
