.button {
    padding: 11px 15px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
    border: none;
}


.button:hover {
    transition: all 0.3s ease;
}


.button:disabled {
    cursor: not-allowed;
    background-color: #c1c1c1 !important;
    color: #eaeaea;
    box-shadow: none;
}

