.userWrapper {
    padding: 10px;
    min-width: 120px;
    width: 145px;
    border-radius: 8px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: center;
    align-content: space-between;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;

}

.avatar {
    justify-self: center;
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

.status {
    font-size: .9em;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: italic;
    word-break: break-all;
}

.fullName {
    margin: 10px 0;
    font-weight: 700;
    font-size: 1em;
    justify-self: center;
    word-break: break-all;
}

.status, .fullName {
}

.followed {
    justify-self: center;
}


