.textAreaWrapper {
  position: relative;
  width: 100%;
  color: #666666;

  .superTextarea, .errorTextarea {
    background-color: #E5E7EB;
    border-radius: 4px;
    color: #808080;;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #D3D5D8;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
  }

  .superTextarea {
    &:focus {

    }

    &.errorTextarea {
      border: 1px solid #C83535;
    }
  }

  .errorTextarea:focus {
    transition: all .3s ease;

    &.errorTextarea:focus {

    }
  }

  .error {
    width:120px;
    min-height: 40px;
    background-color: #BE4B49;
    border-color: #9C3735;
    display: inline-block;
    vertical-align: top;
    top: 3px;
    right: -152px;
    padding: 5px 10px;
    color: #ffffff;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(200, 53, 53, .2);
    word-wrap: break-word;
    font-size: 14px;
    transition: all .4s ease-out;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #BE4B49;
      position: absolute;
      top: 10px;
      left: -5px;
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      box-shadow: 0 0 5px rgba(200, 53, 53, .2);
      transition: all .4s ease-out;

    }

  }
}



