.dropdownWrapper {
  box-sizing: border-box;
  margin: 0 10px;
  position: relative;
  align-self: flex-end;
  width: 160px;

  .toggleButton {
    cursor: pointer;
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;

    .angleDown {
      font-size: 14px;
      margin-left: 10px;
    }

  }

  .dropdownBody {
    width: 100%;
    font-size: 14px;
    background-color: #F0F2F5;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 10px;

    label {
      font-size: 13px;
    }
  }

}

.enter {
  transform: scaleY(0);
  transform-origin: top;
}

.enterActive {
  transform: scaleY(1);
  transition: transform 400ms;
}

.exit {
  transform: scaleY(1);
}

.exitActive {
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 500ms, transform 300ms;
}