.writeMessage {
    margin-right: 20px;
}

.writeMessage textarea {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.writeAndSendMessage {
    align-self: self-end;
}

.sendMessage {
    margin: 10px 0;
}