.editableSpanWrapper {
    width: 100%;
    min-height: 40px;
    position: relative;
}

.inputWrapper {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    min-height: 100%;
}


.spanWrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    left:0;
    top:0;
    width: 100%;
    min-height: 100%;
}

.spanWrapper .editSpan {
    display: flex;
    width: 100%;
    padding: 11px;
    outline: none;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
    transition: all .3s ease;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
}
.buttonsBlock {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.spanWrapper .editSpan .editPen {
    color: #333333;
    margin-left: 10px;
}

.enter {
    opacity: 0;
    transform: scale(0.9);
}

.enterActive {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
}
