.postWrapper {
    color: white;
    padding: 15px;
    max-width: 50%;
    word-break: break-word;
    box-shadow: 0px 7px 10px -9px #000000;
}

.postWrapper .avaBlock {
    display: flex;
    position: relative;
}
.postWrapper .avaBlock img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid white;
}
.postWrapper .avaBlock span {
    margin-left: 10px;
    align-self: start;
    font-weight: bold;
    padding-top: 5px;
}
.postWrapper .messageBlock {
    margin: 10px 0;
    hyphens:auto;
}
.removePost {
    position: absolute;
    top:0;
    right: 0;
    padding: 5px;
    transition: .4s ease;
}
.removePost:hover {
    color: #ffbf47;
    cursor: pointer;
    transition: .4s ease;
}
