.profileInfo {
    display: flex;
    padding: 60px 60px 20px 60px;
}

.avatar {
    margin-right: 40px;
    position: relative;
}
.avatar .avatarWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar .avatarWrapper .uploadAvatar {
    transform: translateY(0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    transition: all 0.3s ease-out;
}

.avatarWrapper .uploadAvatar.hover{
    transform: translateY(-80px);
    transition: all 0.3s ease-out;
}


.avatar .avatarWrapper .uploadAvatar .uploadAvatarIcon {
    color:#ffffff;
    font-size: 24px;
    cursor: pointer;
}
.avatar .avatarWrapper .uploadAvatar input[type='file'] {
    display: none;
}


.profileInfo .description {
    color:#666666;
    font-size: 14px;
}

.profileInfo .description .fullName {
    font-weight: 600;
    font-size: 24px;
    color:#333333;
}
.profileInfo .description .title {
    font-weight: 600;
}
.profileInfo .description .status {
    display: flex;
    align-items: center;
}
.profileInfo .description .status .statusContent {
    width: 100%;
}
.profileInfo .description .status .statusContent .withoutEdit {
    color: #BE185D;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    display: block;
}

.aboutMe {
    margin-bottom: 10px;
}

.lookingForAJob {
    grid-area: lookingForAJob;
    padding-right: 10px;
}


.statusJob {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.statusJob .title {
    align-self: center;
    padding-right: 20px;
}

.statusJob .iconYes {
    color: #46AC53;
    font-size: 20px;
}

.statusJob .iconNot {
    color: #BA0000;
    font-size: 20px;
}

.buttonsBlock {
    margin-top: 15px;
}











