.profileInfo {
    display: grid;
    grid-template-areas: "top_wallpaper top_wallpaper" "avatarAndFullName description";
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 7px 10px -9px #000000;
    padding-bottom: 40px;
    background: -webkit-linear-gradient(45deg, rgb(255, 99, 71) 13%, rgb(38, 6, 76) 80%);
    background: -moz-linear-gradient(45deg, rgb(255, 99, 71) 13%, rgb(38, 6, 76) 80%);
    background: linear-gradient(45deg, rgb(255, 99, 71) 13%, rgb(38, 6, 76) 80%);
}

.avatarAndFullName {
    grid-area: avatarAndFullName;
    padding: 0 20px 0 40px;
    margin-top: -100px;
    position: relative;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatarAndFullName .image {
    width: 250px;
    height: 250px;

}

.avatarAndFullName .image img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

.fullName {
    font-size: 28px;
    color: white;
    padding-bottom: 10px;
    letter-spacing: .05em;
    box-shadow: 0px 7px 10px -11px #ffffff;
    text-align: center;
}

.top_wallpaper {
    grid-area: top_wallpaper;
}

.top_wallpaper img {
    width: 100%;
}

.profileInfo .description {
    padding: 0 20px;
    grid-area: description;
    display: grid;
    grid-template-areas: "aboutMe contacts" "lookingForAJob contacts";
    grid-template-columns: 215px 1fr;
}

.aboutMe {
    grid-area: aboutMe;
    padding-right: 20px;

}

.lookingForAJob {
    grid-area: lookingForAJob;
    padding-right: 10px;
    margin-top: 20px;
}


.aboutMe {
    color: white;
    font-style: italic;
    margin-top: 15px;

}

.statusJob {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 20px;
}

.statusJob .heading {
    align-self: center;
    padding-right: 20px;
    font-size: 1.1em;
    letter-spacing: .1em;
}

.statusJob .iconYes {
    color: #46AC53;
    font-size: 20px;
}

.statusJob .iconNot {
    color: #BA0000;
    font-size: 20px;
}

.descriptionJob {
    color: white;
    font-style: italic;
}










