.dialog {
    display: grid;
    grid-template-columns: 1fr 15fr;
    column-gap:20px;
    padding: 10px;
}
.dialog .contactAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*border: 1px solid #ffffff;*/
    align-items: center;
}
.dialog a {
    padding: 5px 0;
    /*color: white;*/
    text-decoration: none;
    align-self: center;
}
.dialog.active {
    font-size: 1.7em;
    display:block;
    padding: 5px 0;
    transition: all 0.2s ease;
}


