.wrapperLogin {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
}
.stickerBlock {
    position: absolute;
    top:40px;
    left:40px;

}