.app_wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 'header header' 'nav content';
}

.app_wrapper_content {
    grid-area: content;
    min-height: calc(100vh - 70px);
    background-color: #F0F2F5;
}
