.settingsWrapper {
  padding: 40px 60px;

  .title {
    color: #111827;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .links {
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
    margin-bottom: 30px;

    a {
      display: inline-block;
      color: #929292;
      font-size: 14px;
      padding: 20px;
      transition: all .3s ease;
      position: relative;

      &:hover {
        color: #3E416D;
        background-color: inherit;
      }

      &.activeLink:after {
        content: '';
        position: absolute;
        color: #3E416D;
        height: 4px;
        background-color: #3E416D;
        width: 100%;
        left: 0;
        bottom: -1px;
      }
    }
  }
}

